@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf") format("opentype");
}

body {
    background-color: rgb(160, 221, 148);
}

header {
    background-color: aqua;
    text-align: center;
}

nav {
    justify-content: space-around;
    
}

main {
    background-color: aliceblue;    
    width: 870px;
    margin: auto;
    padding: 15px;
    
}

.principal {
    font-family: "idroid";
}

article {
    background-color: black;
}

.destaque {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

#pdestaque {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}



::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 35px
    background-color #898989 /* Alguma coisa de errado */
}

::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: #e4dedf ;
}

footer {
    text-align: center;
    font-size: larger;
    font-style: italic;
}
